
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100%;
  background-color: #eaeded;
}


.vcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0;
  height: 100vh; 
  flex-direction: column;
}
.vcontainer>{
  padding: 10px;
  margin: 10px;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 300px;
  border: solid 1px;
  border-radius: 20px;
}

.center1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 350px;
  width: 300px;
  border: solid 1px;
  border-radius: 20px;
}

span{
  font-size: 10px;
}

.ItemCard > div {
  margin-bottom: 10px;
}

.loader {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: black;
}

.ItemCard {
  background-color: white;
  padding: 10px;
}
.cartIconHolder {
  color: black;
  position: absolute;
  top: 20px;
  right: 20px;
}

.cartIcon {
  margin-right: 5px;
}

.addToCartButton {
  background-color: #f2cb6b;
  border-radius: 5px;
  border-color: #a88734;
  padding: 5px 60px;
  margin-bottom: 10px;
}

.addToButton {
  background-color: #f2cb6b;
  border-radius: 5px;
  padding: 0px 10px;
  margin-top: 10px;
}

.nameTag {
  font-size: 1.4rem;
  font-weight: bold;
}
.priceTag {
  color: #b12704;
  font-size: 1.4rem;
}
input {
  margin-top: 5px;
}